<ion-header>
  <ion-toolbar color="orange" >
    <!--<ion-buttons slot="end">
      <ion-button color="danger" (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>-->
    <ion-title>Mein Profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="[true]">
  <div class="preview">
    <ion-avatar (click)="changeImage()">
      <img
        *ngIf="profile?.imageUrl; else placeholder_avatar;"
        [src]="profile.imageUrl"
      />
      <ng-template #placeholder_avatar>
        <div class="fallback">
          <p>Select avatar</p>
        </div>
      </ng-template>
    </ion-avatar>
  </div>


  <h1 style="margin:10%">
    Name<!--Profilname-->
  </h1>
  <h3 style="margin:10%">
    UserID<!--ProfilID-->
  </h3>
 
  <ion-button expand="block" color="danger" (click)="logout()" style="margin:5%">
    Logout
  </ion-button>

</ion-content>
