<ion-content>

<ion-header>
  <ion-thumbnail class="logoimage">
    <img src="../../assets/icon/logo-ohne.png"/>
  </ion-thumbnail>
  <ion-toolbar>
    <ion-title style="text-align: center;">Herzlich willkommen!</ion-title>
  </ion-toolbar>
</ion-header>

  <form [formGroup]="credentials" (ngSubmit)="login()">
    <ion-item fill="solid" style="margin: 10%;">
      <ion-input
        type="email"
        placeholder="E-Mail"
        formControlName="email"
      ></ion-input>
      <ion-note
        slot="error"
        *ngIf="(email.dirty || email.touched) && email.errors"
        >Email ist ungültig!</ion-note
      >
    </ion-item>

    <ion-item fill="solid" style="margin: 10%;">
      <ion-input
        type="password"
        placeholder="Passwort eingeben"
        formControlName="password"
      ></ion-input>
      <ion-note
        slot="error"
        *ngIf="(password.dirty || password.touched) && password.errors"
        >Passwort ist zu kurz oder ungültig!</ion-note
      >
    </ion-item>

    <ion-button style="margin: 10%;"
      expand="block"
      fill="outline"
      type="submit"
      [disabled]="!credentials.valid"
      >Login</ion-button
    >
    <ion-button expand="block" type="button" (click)="register()" style="margin: 10%;"
      >Account erstellen</ion-button
    >
  </form>

</ion-content>