<ion-header>
  <ion-toolbar>
    <ion-title
      >Herzlich willkommen! <br />
      Loggt dich ein...</ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="credentials" (ngSubmit)="login()">
    <ion-item fill="solid" class="ion-margin-bottom">
      <ion-input
        type="email"
        placeholder="E-Mail"
        formControlName="email"
      ></ion-input>
      <ion-note
        slot="error"
        *ngIf="(email.dirty || email.touched) && email.errors"
        >Email ist ungültig!</ion-note
      >
    </ion-item>

    <ion-item fill="solid" class="ion-margin-button">
      <ion-input
        type="password"
        placeholder="Passwort eingeben"
        formControlName="password"
      ></ion-input>
      <ion-note
        slot="error"
        *ngIf="(password.dirty || password.touched) && password.errors"
        >Passwort ist zu kurz oder ungültig!</ion-note
      >
    </ion-item>

    <ion-button
      expand="block"
      fill="outline"
      type="submit"
      [disabled]="!credentials.valid"
      >Login</ion-button
    >
    <ion-button expand="block" type="button" (click)="register()"
      >Account erstellen</ion-button
    >
  </form>
</ion-content>
