<ion-header [translucent]="true">
  <ion-toolbar color="orange" >
    <ion-title> Events in deiner Nähe </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background-image">
  <ion-row *ngFor="let event of events | async">
  <ion-card style="width: 100%;" [routerLink]="'../event-details/' + event.id">
    <ion-card-header style="font-size: 18px;">
      {{ event.sportart }}
    </ion-card-header>
    <ion-row>
    <ion-col size="8">
      <ion-row>
        <ion-col>{{ event.ort }}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>{{ event.beschreibung }}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>{{ event.startUhrzeit }} - {{ event.endeUhrzeit }}</ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
    <!--<ion-grid>
      <ion-row style="margin-left: 10%;">
    <ion-col size="6">
      <ion-button  (click)="appService.zusagen(item)" 
        ><ion-icon name="checkmark-outline"></ion-icon
      ></ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button color="secondary" (click)="appService.vielleicht(item)"  
        ><ion-icon name="help-outline"></ion-icon
      ></ion-button>
    </ion-col
    <ion-col size="6">
      <ion-button color="danger" (click)="appService.absagen(item)"
        ><ion-icon name="ban-outline"></ion-icon
      ></ion-button>
    </ion-col>
      </ion-row>
  </ion-grid>-->
  </ion-card>
  </ion-row>
</ion-content>
