<ion-header [translucent]="true">
  <ion-toolbar color="orange">
    <ion-buttons slot="end"> </ion-buttons>
    <ion-title> Deine Termine </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" class="ion-no-border">
    <ion-toolbar>
      <ion-title size="large">Events</ion-title>
      <ion-buttons collapse="true" slot="end">
        <ion-button color="primary" (click)="openNewEventModal()">
          <ion-icon slot="icon-only" name="add-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item
      *ngFor="let event of events | async"
      [routerLink]="'/event-details/' + event.id"
    >
      <ion-col size="4">
        <ion-row>
          <ion-col
            ><ion-icon name="time-sharp"></ion-icon>
            <ion-label
              >{{ event.startUhrzeit }} - {{ event.endeUhrzeit }}</ion-label
            ></ion-col
          >
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-icon name="location-sharp"></ion-icon>
            <ion-label>{{ event.ort }}</ion-label>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-row>
        <ion-col>
          <ion-icon name="football-sharp"></ion-icon>
          <ion-label>{{ event.sportart }}</ion-label>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
</ion-content>

<!--Ab hier plus Button fürs hinzufügen-->
<ion-fab
  color="primary"
  vertical="bottom"
  horizontal="center"
  slot="fixed"
  id="trigger-button"
>
  <ion-fab-button color="orange" (click)="openNewEventModal()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

<!--ion-modal trigger="trigger-button" >
  <ng-template>
    <ion-header>
      <ion-toolbar>
          <ion-title>erstelle ein Event</ion-title>
          <ion-button slot="end" (click)="dismiss()">
            <ion-icon name="close-outline"></ion-icon>
          </ion-button>
        </ion-toolbar>
    </ion-header>
    <ion-content class="background-image">
      <ion-input [(ngModel)]="appService.name">Name</ion-input>
      <ion-input [(ngModel)]="appService.beschreibung">Beschreibung</ion-input>
      <ion-input [(ngModel)]="appService.bewertung" type="number">Bewertung</ion-input>
      <ion-input [(ngModel)]="appService.koordinaten" value="appService.getLocation()">Koordinaten</ion-input> 
      <ion-input [(ngModel)]="appService.bild" value="appService.photoTaken()">Photo</ion-input>
      <ion-fab vertical="bottom" horizontal="center" slot="fixed">
        <ion-fab-button (click)="appService.addNewToGallery()">
          <ion-icon name="camera"></ion-icon>
        </ion-fab-button>
      </ion-fab>
      
      <ion-button expand="block" (click)="appService.submit()" >Submit</ion-button>
    </ion-content>
  </ng-template>
</ion-modal>-->
